  </div>
</div>

<footer class="pc-footer">
  <div class="container-fluid">
    <p class="m-0 text-center">
      ERNIE NOVITA ❤️ PROJECT
    </p>
  </div>
</footer>

<script src="{{ url_for('static', filename='assets/js/plugins/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/plugins/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pages/dashboard-default.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/pcoded.js') }}"></script>

</body>
</html>
